<section id="table-of-contents" class="toc">
  <header>
    <h3><i class="fa fa-book"></i> overview</h3>
  </header>
<div id="drawer" markdown="1">
<ul id="markdown-toc">
<li><a href="#autonomous-underwater-vehicle-auv-iitb">Autonomous Underwater Vehicle (AUV-IITB)</a></li>
<li><a href="#static-vehicle-detection-and-analysis-in-aerial-imagery-using-depth">Static Vehicle Detection and Analysis in Aerial Imagery using Depth</a></li>
<li><a href="#human-activity-recognition">Human Activity Recognition</a></li>
<li><a href="#parallel-simulation-of-verilog-hdl-designs">Parallel Simulation of Verilog HDL designs</a></li>
</ul>
</div>
</section><!-- /#table-of-contents -->
